.add-task-button {
  width: 20%;
  min-height: 45px;
  padding: 5px 0;
  background-color: var(--element-color-5);
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  box-sizing: border-box;
  border: none;
  border-radius: 15px;
  transition: opacity 0.2s;
  cursor: pointer;
}

.add-task-button_disabled {
  background-color: var(--element-color-4);
  opacity: 0.5;
  cursor: default;
}

.add-task-button:hover {
  opacity: 0.8;
}

.add-task-button:focus-visible {
  opacity: 0.8;
}
